@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto');
.outer {
    display: table;
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
  }
  
  .middle {
    display: table-cell;
    vertical-align: middle;
  }
  
  .inner {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    border-radius: 4px;
    background-color: whitesmoke;
    padding: 30px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
  }
h1 
{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}
.item {
    margin: 5px;
    padding: 5px;
    border-radius: 4px;
}
.textbox {
    border: 1px solid gray;
    width: 97%;
}
.button {
    padding: 10px;
    border-radius: 4px;
    background-color: whitesmoke;
    border: 1px solid #E73D62;
    color: #E73D62;
}
.button:hover {
    color: #b8304e;
    border: 2px solid #b8304e;
    font-weight: bold;
}
.addbutton {
    background-color: #E73D62;
    color: whitesmoke;
    padding: 10px;
    border-radius: 4px;
    border: none;
    width: 100%;
}
.addbutton:hover {
    background-color: #b8304e;
}
.removebutton {
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 4px;
    border: none;
    font-weight: bold;
    float: right;
    border-radius: 4px;
}
.removebutton:hover {
    background-color: #E73D62;
}
.taskIncomplete {
    color: black;
}

.taskComplete {
    text-decoration: line-through;
}